{
  "plugins": [
    "react",
    "react-hooks",
    "graphql"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "es6": true
    },
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "browser": true,
    "jest": true
  },
  "extends": [
    "airbnb"
  ],
  "globals": {
    "global": true
  },
  "parser": "babel-eslint",
  "rules": {
    "semi": "error",
    "semi-style": ["error", "last"],
    "comma-dangle": ["error", "never"],
    "no-underscore-dangle": "off",
    "camelcase": "warn",
    "template-curly-spacing": 0,
    "indent": 0,
    "react/prop-types": "warn",
    "react/react-in-jsx-scope": "off",
    "react/jsx-props-no-spreading": "warn",
    "react/no-array-index-key": "off",
    "react/no-danger": "off",
    "jsx-quotes": ["error", "prefer-single"],
    "jsx-a11y/anchor-is-valid": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "import/prefer-default-export": "warn",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "max-len": "off",
    "react/jsx-one-expression-per-line": "off"
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  }
}
